<!doctype html>
<title>Example</title>
<style>
* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 10vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer {
  background: yellowgreen;
  height: 10vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
</style>
<body>
  <header>Header</header>
  <div id="main">
    <article><div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
    
                
                <h2 class="mt-5">Student's Photo</h2>
                <h3 style="font-family:courier;">Instructions:</h3>
                <ol style="font-family:courier;">               
                <li>Capture--click to capture webcam image</li>
                <li>Please take a photo with your face clearly visible</li>
                </ol>
                <img src="{{ url_for('video_feed') }}" height="80%">
    
                <form method="post" action="{{ url_for('taskstu') }}">                   
                    <input type="submit" value="Capture" name="click"/>
                    
                    </form>
    
                <a href="/id_veri"><button>Proceed</button></a>	
                
                
            </div>
        </div>
    </div></article>
    <nav>Nav</nav>
    
  </div>
  
</body>