<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
    
                
                <h2 class="mt-5">Additional Instructions</h2>
                
                <h3 style="font-family:courier;">Instructions:</h3>
                <ol style="font-family:courier;">
                
                <li>During the examination, you should not access any external devices
                    such as Tablets,Mobile Devices,Notes,etc. Please remain seated at all times
                    and ensure that your face is visible at all times.
                    Should there be an interruption during the exam promptly explain what
                    has happened to the webcam.
                </li> </ol>	
                <a href="/stu_photo"><button>Proceed</button></a>
            </div>
        </div>
    </div>
    </body>
    