
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">

			
            <h2 class="mt-5">CAMERA Check</h2>
			<h3 style="font-family:courier;">Instructions:</h3>
                <ol style="font-family:courier;">               
                <li>Check if web camera is working</li>
                
            <img src="{{ url_for('video_feed') }}" height="80%">

			<form method="post" action="{{ url_for('taskstu') }}">
				
				</form>

			<a href="/add_inst"><button>Proceed</button></a>	
				
			
        </div>
    </div>
</div>
</body>
