
<body bgcolor="#e6ffee">
    <div class="one">
        <div class="two">
            <h2>{{SessionUserame}}</h2>
            <br>
            <ul>
                <li><a routerLink="/user">User Management</a></li>
                <li class="active"><a routerLink="/examlist">Exam Management</a></li>
                <li><a routerLink="/">On Hold</a></li>
                <li><a routerLink="/">On Hold</a></li>
                <li><a routerLink="/">On Hold</a></li>
                <li><a routerLink="/">Log out</a></li>
            </ul>
        </div>
        <div class="content" >
            <div class="topbar">
                <h2>Exam Management</h2>
            </div>
            <div class="contentbar">
                

<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  
    <div class="container mt-3 pt-3">
        <div class="col-12">
            <h3 class="text-center fw-bolder">Edit Exam Details</h3>
        </div>
        <div class="col-12" *ngIf="exam">
            <div class="bg-secondary opacity-75 bg-gradient p-3 text-center mb-2 text-white fw-bolder fs-3">
                {{exam.examName | uppercase}} 
            </div>
            <hr>
        </div>
        <form class="row g-3" >
            <div class="col-12">
                <label for="inputName" class="form-label">Exam Name/Title</label>

                <input [(ngModel)]="exam.examName" class="form-control" placeholder="Exam Name" value= "{{exam.examName }}" [ngModelOptions]="{standalone: true}" >
            </div>

            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Exam ID</label>
                <input [(ngModel)]="exam.examID" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="ID Auto Generate" value= "{{exam.examID }}" readonly>
        
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Exam Type</label>
                <input [(ngModel)]="exam.examType" [ngModelOptions]="{standalone: true}" class="form-control" id="inputPassword4" value= "{{exam.examType }}">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Description</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Short description of the exam">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Exam Start Date</label>
                <input type="text" [(ngModel)]="exam.startDate"  [ngModelOptions]="{standalone: true}" class="form-control" id="inputCity"  value= "{{exam.startDate }}">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Exam Start time</label>
                <input type="time"    class="form-control" id="inputCity"  value= "">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Exam End time</label>
                <input type="time"  class="form-control" id="inputCity"  value= "">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Exam Status</label>
                <select id="inputState"  [(ngModel)]="exam.examStatus" [ngModelOptions]="{standalone: true}" class="form-select" value= "{{exam.examStatus }}">
                    <option selected>Choose...</option>
                    <option>Upcoming</option>
                    <option>Ongoing</option>
                    <option>On hold</option>
                    <option>Moc</option>
                    <option>Past</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Exam Creator</label>
                <input type="text" [(ngModel)]="exam.examCreator" [ngModelOptions]="{standalone: true}" class="form-control" id="inputZip" value= "{{exam.examCreator }}">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Exam Paper ID</label>
                <input [(ngModel)]="exam.examPaperId" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Exam Paper ID" value= "{{exam.examPaperId}}" >
        
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Exam Report ID</label>
                <input [(ngModel)]="exam.examReportId" [ngModelOptions]="{standalone: true}" class="form-control" id="inputPassword4" value= "{{exam.examReportId }}">
            </div>


            <!-- File Upload-->
            <div class="text-center">
                <input class="form-control" type="file" 
                        (change)="onChange($event)" placeholder="Upload file" accept=".pdf,.png,.jpg"> <br>
              
                <button (click)="onUpload()" 
                    class="btn btn-success">
                    Upload
                </button>
            </div>
              
            <!-- Shareable short link of  uploaded file -->
            <div class="container text-center jumbotron"
                *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>
              
            <!--Flag variable is used here-->
            <div class="container" *ngIf="loading">
                <h3>Loading ...</h3>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        update the changes made above
                    </label>
                </div>
            </div>
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-success w-100 bg-gradient p-1 text-center mb-2 text-white fw-bolder fs-3" (click)="save()">Save</button>
                <button type="submit" class="btn btn-danger w-100 bg-gradient p-1 text-center mb-2 text-white fw-bolder fs-3"  (click)="goBack()">Go Back</button>
              
              
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <!--input -->
 <!--
      <div class="contentbar">
          <div>
              <br>
              <div>
                <p>
                    Exam ID: <input [(ngModel)]="exam.examID" placeholder="Exam ID">
                </p>
                <p>
                    Exam Name: <input [(ngModel)]="exam.examName" placeholder="Exam Name">
                </p>
                <p>
                    Exam Type: <input [(ngModel)]="exam.examType" placeholder="Exam Type">
                </p>
                <p>
                    Start Data: <input [(ngModel)]="exam.startDate" placeholder="Exam Date">
                </p>
                <p>
                    Exam Status: <input [(ngModel)]="exam.examStatus" placeholder="Exam Status">
                </p>
                <p>
                    Exam Creator: <input [(ngModel)]="exam.examCreator" placeholder="Exam Creator">
                </p>
                <p>
                    Exam Paper ID: <input [(ngModel)]="exam.examPaperId" placeholder="Exam Paper ID">
                </p>
                <p>
                    Exam Report ID: <input [(ngModel)]="exam.examReportId" placeholder="Exam Reprot ID">
                </p><br>
              </div>
              <button (click)="goBack()">go back</button>
               
              <button (click)="save()">save</button>
            </div>
            </div>


-->

</body>

</html>


</div>
            </div>
        </div>
</body>

